:root {
    --color-primary: #111111;
    --color-text: #555555;
    --color-foreground: #FFFFFF;
    --color-background: #F9F9F9;
}

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Regular.ttf');
}

* {
    font-family: Inter, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: var(--color-text);
}

body {
    height: 100vh;
    background-color: var(--color-background);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    height: 48px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--color-foreground);
    border-top: 1px solid #EEEEEE;
}

.toolbar .buttons {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.toolbar .buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 48px;
    cursor: pointer;
}

.toolbar .buttons .button.primary {
    background-color: var(--color-primary);;
    color: #FFFFFF;
    transition: 250ms;
}

.toolbar .buttons .button.primary:hover {
    background-color: #333333;
}

.content {
    height: calc(100vh - 49px);
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3);
    grid-template-rows: auto;
    grid-template-areas: 
        "panel-a panel-b panel-c"
        "panel-a panel-b panel-d"
        "panel-a panel-b panel-d";
    column-gap: 16px;
    row-gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.content .panel {
    background-color:var(--color-foreground);
    padding: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100%;
}

.content .panel.a {
    grid-area: panel-a;
}

.content .panel.b {
    grid-area: panel-b;
}

.content .panel.c {
    grid-area: panel-c;
}

.content .panel.d {
    grid-area: panel-d;
}

.content .panel .panel-title {
    margin-bottom: 16px;
}

.scroll-div {
    overflow-y: auto;
    height: 200px;
}






.color-primary {
    color: var(--color-primary);;
}

.bold {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.row label, select, .end {
    width: 50%;
}

.row .end {
    display: flex;
    flex-direction: row;
}

.row .end input:first-child {
    width: 200%;
    margin-right: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container .input-hint {
    margin-top: 4px;
    font-size: 9px;
}


.row .end input, .input-container input {
    width: 100%;
}

select, input {
    height: 30px;
    width: 50%;
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
}

input {
    padding: 0px 4px;
    box-sizing: border-box;
}

hr {
    border: none;
    border-bottom: 1px solid #EEEEEE;
    margin: 16px 0px;
}

.terminal {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-family: Consolas;
    height: 100%;
    min-height: 100px;
    width: auto;
}

.image-container {
    aspect-ratio: 1 / 1;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    background-color: #FAFAFA;
}






input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    border-radius: 3px;
    transition: box-shadow 250ms;
    background: #FAFAFA;
    cursor: pointer;
    border: 1px solid #EEEEEE;
    appearance: none; -webkit-appearance: none; 
}

input[type="checkbox"]:checked { 
    box-shadow: inset 0 0 0 20px var(--color-primary);
}

textarea {
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 8px;
    resize: none;
}